<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="#">Navbar</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav">
        <li><a href="#" routerLink="/products">Our Products</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" routerLink="/products">Our Products</a></li>
        <li *ngIf="!logined"><a href="#" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"  aria-hidden="true"></span></a></li>
        <li *ngIf="logined"><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true" (click)="logout()"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="login()" [formGroup]="formModel">
          <div class=" form-group " [class.has-error]="formModel.hasError('minlength','username')">
            <label for="username ">username</label>
            <input type="text " class="form-control" formControlName="username" id="username" placeholder="username">
            <span class="help-block" [class.hidden]="!formModel.hasError('minlength','username')">username should not be less then 5 characters</span>
          </div>

          <div class="form-group " [class.has-error]="formModel.hasError('minlength','password')">
            <label for="password">password</label>
            <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
            <span class="help-block" [class.hidden]="!formModel.hasError('minlength','password')">password should not be less then 5 characters</span>
          </div>
          <div class="form-group ">
            <div class="alert alert-danger alert-dismissible" hidden role="alert" id="errorMsg">

            </div>
            <button type="button " class="btn btn-primary btn-block">Login</button></div>
        </form>
      </div>
      <div class="modal-footer ">
        <button type="button " class="btn btn-default " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
