<div class="container">
    <hr/>
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>
            This is our footer
          </p>
        </div>
      </div>
    </footer>
  </div>
  