<div class="carousel slide" data-ride="slideData">
  <ol class="carousel-indicators">
    <li data-target="carousel-indicator" data-slide-to="0" class="active"></li>
    <li data-target="carousel-indicator" data-slide-to="1"></li>
    <li data-target="carousel-indicator" data-slide-to="2"></li>
    <li data-target="carousel-indicator" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img class="slide-image" src="http://placehold.it/800x300" alt="">
    </div>
    <div class="item">
      <img class="slide-image" src="http://placehold.it/800x300" alt="">
    </div>
    <div class="item">
      <img class="slide-image" src="http://placehold.it/800x300" alt="">
    </div>
    <div class="item">
      <img class="slide-image" src="http://placehold.it/800x300" alt="">
    </div>
  </div>

  <a class="left carousel-control" onclick="$('.carousel').carousel('prev')" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
  <a class="right carousel-control" onclick="javascript:$('.carousel').carousel('next')" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>

</div>
