<!-- <div *ngFor="let product of products$ | async | filter:'title':keyword" class="col-md-4 col-sm-4 col-lg-4"> -->
<div class="row display-flex ">
  <div *ngFor="let product of products$ | async" class="col-md-4 col-sm-4 col-lg-4">
    <div class="thumbnail">
      <img [src]="imageUrl">
      <div class="caption">
        <h4 class="pull-right">$AUD {{product.price}}</h4>
        <h4><a [routerLink]="['/product',product.id]">{{product.title}}</a></h4>
        <p>{{product.desc}}</p>
      </div>
      <app-star [rating]="product.rating" [disabledStarRating]="true"></app-star>
    </div>
  </div>
</div>
