<p>
  <span *ngFor="let star of stars; let i = index" class="glyphicon glyphicon-star" [class.glyphicon-star-empty]="star" (click)="onStarRating(i)"></span>
  <span>{{rating | number:'1.0-1'}} stars</span>
</p>
