<div class="thumbnail">
  <img src="http://placehold.it/820x230">
  <div class="caption">
    <h3>{{product?.title}}</h3>
    <div class="row">
      <div class="col-md-9">
        <app-star [rating]="product?.rating" [disabledStarRating]="true"></app-star>
      </div>
      <div class="col-md-3">
        <h4 class="pull-right">$AUD {{product?.price}}</h4>
      </div>
    </div>
    <p>{{product?.desc}}</p>
    <p>
      <a href="#" class="btn btn-primary" role="button">Add To Cart</a>
      <a href="#" class="btn btn-default" role="button" (click)="goBack()">Back</a>
    </p>
  </div>
  <!-- <div>
    <h4 class="pull-right">{{product?.price}}</h4>
    <h4>{{product?.title}}</h4>
    <h4>{{product?.desc}}</h4>
  </div>
  <div>
    <p class="pull-right">{{commentList?.length}}</p>
    <p>
      <app-star [rating]="product?.rating" [disabledStarRating]="true"></app-star>
    </p>
  </div> -->
</div>
<div class="well well-lg">
  <div class="row comment-row">
    <button class="btn btn-primary" (click)="isCommentHidden = !isCommentHidden">Comment</button>
  </div>
  <div class="row" [hidden]="!isCommentHidden">
    <app-star [(rating)]="newCommentRating"></app-star>
    <div class="form-group">
      <label for="comment">Comments</label>
      <textarea class="form-control" row="5" id="comment" [(ngModel)]="newComment"></textarea>
    </div>
    <button class="btn btn-success" (click)="addComment()">Submit</button>
  </div>
  <div class="row" *ngFor="let comment of commentList">
    <hr/>
    <div class="col-md-12">
      <span>{{comment?.user}}</span>
      <span class="pull-right">{{comment?.timestamp | date:'medium'}} </span>
      <app-star [rating]="comment?.rating" [disabledStarRating]="true"></app-star>
      <p></p>
      <p>
        <span>{{comment?.content}}</span>
      </p>
    </div>
  </div>
</div>
