<form class="search-container" [formGroup]="formModel" (ngSubmit)="search()" novalidate>
  <div class="form-group" [class.has-error]="formModel.hasError('minlength','title')">
    <label for="title">Product Title</label>
    <input type="text" class="form-control" placeholder="Product Title" formControlName="title">
    <span class="help-block" [class.hidden]="!formModel.hasError('minlength','title')">Title should not be less then 3 characters</span>
  </div>
  <div class="form-group" [class.has-error]="formModel.hasError('positiveNumber','price')">
    <label for="title">Product Price</label>
    <input type="text" class="form-control" placeholder="Product Price" formControlName="price">
    <span class="help-block" [class.hidden]="!formModel.hasError('positiveNumber','price')">Price should be postitive number</span>
  </div>
  <div class="form-group">
    <label for="title">Product Category</label>
    <select class="form-control" formControlName="category">
      <option selected value="-1">All Category</option>
      <option selected value="-1">Flowers</option>
      <option selected value="-1">Toys</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block">Search</button>
  </div>
</form>
